VITE_SUPABASE_URL=https://mejzfpivpbdhcmfepfdh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1lanpmcGl2cGJkaGNtZmVwZmRoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2NDYxMzcsImV4cCI6MjA5NTIyMjEzN30.NVs6rC27r44rKPngLa91BF3oazkl4XuTpLzJLQbKIfo
VITE_API_URL=https://seu-backend.railway.app
